main {
    padding: 3rem 4rem;
    width: 100%;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 9rem;
    background-color: white;
}

main .data .button {
    display: grid;
    grid-column: 1 / -1;
    justify-content: end;
    position: relative;
}

.button img {
    margin-top: 1.5rem;
    padding: 1rem;
    border-radius: 50%;
    background-color: hsl(259, 100%, 65%);
}

.button::after {
    content: "";
    height: 1px;
    width: 100%;
    background-color: rgb(206, 193, 193);
    position: absolute;
    bottom: 28px;
}

main .calculo {
    margin-top: 2rem;
    font-weight: bolder;
    font-size: 5rem;
}

.calculo p > span {
    color: hsl(259, 100%, 65%);
}

footer {
    text-align: center;
}

@media (max-width: 800px) {
    main {
        padding: 2rem 2rem;
        width: 250px;
        border-bottom-right-radius: 6rem;
    }

    main .data {
        font-size: 0.7rem;
    }

    main .calculo {
        font-size: 2.7rem;
    }
}