* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    list-style: none;
}

button {
    border: none;
    background: none;
}

img {
    max-width: 100%;
    display: block;
}

.alinhamento {
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
}

@media (max-width: 1000px) {
    main {
        padding: 0 20px;
    }
}

header {
    width: 100%;
}

header .infos-contato {
    padding: 20px 10px;
    background: rgb(4, 4, 167);
    color: white;
    font-size: 1rem;
    display: flex;
    justify-content: center;
}

.infos-contato .infos-contato-text {
    display: flex;
    justify-content: space-between;
}

header .header {
    padding: 25px 20px;
    background: rgba(55, 0, 255, 0.842);
    font-size: 1.4rem;
    color: white;
    display: flex;
    justify-content: center;
}

.header .header-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-text .marca {
    font-size: 35px;
    font-weight: bolder;
}

.header-text > ul {
    display: flex;
    gap: 20px;
    font-size: 19px;
}

.header-text > ul li {
    cursor: pointer;
}

main .inicio h1 {
    margin: 40px 0;
    font-size: 2.9rem;
    position: relative;
}

.inicio h1::after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    bottom: -65px;
    background: blue;
    position: absolute;
}

main .inicio .sobre {
    margin: 130px 0;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 50px;
    position: relative;
}

.inicio .sobre::after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    bottom: -65px;
    background: blue;
    position: absolute;
}

.sobre .text-sobre {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-basis: 300px;
    flex-grow: 1;
}

.text-sobre h2{
    font-size: 2.9rem;
}

.text-sobre p {
    font-size: 1.3rem;
    color: rgb(116, 113, 113);
}

main .produtos h2 {
    margin-bottom: 90px ;
    font-size: 2.9rem;
}

.produtos .produtos-list {
    display: flex;
    align-items: flex-end;
    gap: 25px;
}

.produto-ind > span {
    padding-left: 20px;
    height: 190px;
    font-size: 3rem;
    font-weight: bold;
    color: rgb(180, 174, 174);
    background: rgba(230, 226, 226, 0.445);
    display: flex;
    align-items: center;
}

.produtos-list .purple {
    box-shadow: 0px -10px 0px 0px rgb(184, 3, 184);
}

.produtos-list .pink {
    box-shadow: 0px -10px 0px 0px rgb(235, 31, 65);
}

.produtos-list .blue {
    box-shadow: 0px -10px 0px 0px rgb(135, 135, 233);
}

main .compra {
    margin: 50px 0;
    padding: 40px 60px;
    background: rgba(223, 219, 219, 0.233);
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}

.container-compra{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    box-shadow: 0px 0px 0px 4px white;
}

.container-compra .compra-content {
    padding: 40px 0;
    width: 280px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.compra-content h3 {
    font-size: 3.2rem;
    text-align: center;
    color: rgb(139, 131, 131);
}

.compra-content .valor {
    font-size: 3rem;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    gap: 5px;
    position: relative;
}

.valor::after {
    content: "";
    height: 4px;
    width: 100%;
    background: white;
    top: -20px;
    position: absolute;
}

.valor::before {
    content: "";
    height: 4px;
    width: 100%;
    background: white;
    bottom: -20px;
    position: absolute;
}

.compra-content .moeda {
    padding-top: 4px;
    font-size: 1.3rem;
}

.compra-content > ul {
    margin: 20px 0;
    color: rgb(128, 122, 122);
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.compra-content > ul li {
    position: relative
}

.compra-content > ul li::after {
    content: "";
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: blue;
    display: block;
    top: 10px;
    right: 1px;
    position: absolute;
}

.compra-content button {
    padding: 10px;
    box-shadow: 0px 0px 0px 4px black;
    font-size: 3rem;
    cursor: pointer;
}

main .caracteristicas > dl {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    font-size: 1.5rem;
}

dl dt {
    font-size: 2rem;
    color: rgb(133, 124, 124);
    font-weight: bold;
    position: relative;
}

dl dd {
    margin-top: 30px;
    max-width: 24ch;
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.699);
}

dl .inteligente::before {
    content: "";
    height: 30px;
    width: 8px;
    background: rgb(226, 39, 226);
    top: 4px;
    left: -17px;
    position: absolute;
}

dl .compacto::before {
    content: "";
    height: 30px;
    width: 8px;
    background: red;
    top: 4px;
    left: -17px;
    position: absolute;
}

dl .economico::before {
    content: "";
    height: 30px;
    width: 8px;
    background: rgb(70, 199, 231);
    top: 4px;
    left: -17px;
    position: absolute;
}

dl .transparente::before {
    content: "";
    height: 30px;
    width: 8px;
    background: rgb(226, 39, 226);
    top: 4px;
    left: -17px;
    position: absolute;
}

dl .opaco::before {
    content: "";
    height: 30px;
    width: 8px;
    background: red;
    top: 4px;
    left: -17px;
    position: absolute;
}

dl .sustentavel::before {
    content: "";
    height: 30px;
    width: 8px;
    background: rgb(70, 199, 231);
    top: 4px;
    left: -17px;
    position: absolute;
}

main .newsletter {
    margin-top: 70px;
    background: rgba(223, 219, 219, 0.233);
    display: flex;
    justify-content: center;
}

.newsletter .newsletter-container {
    padding: 50px 0;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.newsletter .newsletter-text{
    color: rgb(133, 124, 124);
}

.newsletter-text h2 {
    margin-bottom: 20px;
    font-size: 3rem;
}

.newsletter-text p {
    font-size: 1.3rem;
}

.newsletter button {
    padding: 20px 40px;
    font-size: 2.2rem;
    text-transform: uppercase;
    box-shadow: 0px 0px 0px 4px blue;
    background: blue;
    color: white;
}

form {
    display: flex;
    flex-wrap: wrap;
}

.newsletter form input {
    padding-left: 10px;
    width: 200px;
    font-size: 1rem;
    color: rgb(133, 124, 124);
    background: white;
    border: none;
    box-shadow: 0px 0px 0px 4px blue;
}

@media (max-width: 1400px) {
    .newsletter-container {
        gap: 100px;
    } 

    form input {
        height: 60px;
    }
    .newsletter-container form button{
        width: 210px;
        height: 20px;
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

footer {
    padding: 50px;
    background: blue;
    text-align: center;
    color: rgb(12, 14, 141);
    font-size: 2rem;
} 