@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    min-height: 100vh;
    place-content: center center;
    font-family: Hanken Grotesk;
}

main {
    display: flex;
    place-content: center center;
    box-shadow: 0.1rem 0.3rem 0.5rem rgb(214, 207, 207);
    border-radius: 2rem;
}

.results {
    display: grid;
    gap: 2rem;
    padding: 3rem 5rem;
    text-align: center;
    border-radius: 2rem;
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

.titulo-results{
    color: hsl(241, 100%, 89%);
}

.points {
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 100%;
    max-width: 6rem;
    max-height: 6rem;
    padding: 3rem;
    text-align: center;
    margin: 0 auto;
    padding-top:2rem;
    padding-bottom: 4rem;
}

.part-one-points{
    font-size: 5rem;
    font-weight: 700;
    color: white;

}

.part-two-points{
    font-size: 1rem;
    font-weight: 500;
    color: hsl(241, 100%, 89%)
}

.great {
    font-size: 2rem;
    font-weight: 700;
    color: white;
}

.text {
    max-width: 14rem;
    color: hsl(241, 100%, 89%);
    line-height: 1.3rem;
}

.summary {
    display: grid;
    padding: 2.2rem;
    gap: 2rem;
}

.description-points {
    display: grid;
    grid-template-columns: 18rem;
    gap: 1rem;
    font-weight: 700;
}

.description-reac, .description-mem, .description-verb, .description-vis{
    display: flex;
    padding: 1rem;
    border-radius: 1rem;
    align-items: center;
    gap: 1rem;
}

.description-reac{
    background-color: hsla(0, 100%, 67%, 0.1);
    color: hsl(0, 100%, 67%);
}

.description-mem{
    background-color: hsla(39, 100%, 56%, 0.1);
    color: hsl(39, 100%, 56%);
}

.mem{
    padding-right: 0.5rem;
}

.description-verb{
    background-color: hsla(166, 100%, 37%, 0.1);
    color: hsl(166, 100%, 37%) ;
}

.verb{
    padding-right: 1.4rem;
}

.description-vis{
    background-color: hsla(234, 85%, 45%, 0.1);
    color: hsl(234, 85%, 45%);
}

.vis{
    padding-right: 1.4rem;
}

.part-one{
    padding-left: 5rem;
    font-weight: 700;
    color: black;
}

.porcent{
    color: hsl(240, 18%, 66%);
    font-weight: 800;
}

.button{
    background-color: hsl(224, 30%, 27%);
    max-width: 20rem;
    border-radius: 5rem;
    padding-top: 1rem;
    text-align: center;
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
}

.button:hover{
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

footer {
    font-size: 1.1em;
    text-align: center;
    font-weight: 700;
    padding-top: 3rem;
}

footer a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}

@media (max-width: 400px){
    main{
        display: grid;
        grid-template-columns: 1fr;
    }

    .results{
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 2.5rem;
        border-bottom-right-radius: 2.5rem;
        gap: 1.2rem;
    }

    .points{
        max-width: 5rem;
        max-height: 5rem;
    }

    .text{
        max-width: 15rem;
        font-size: 0.9rem;
    }

    .summary{
        border-radius: 0;
        box-shadow: 0 0 0;
    }

    .button{
        padding: 1rem;
    }

    footer{
        padding-top: 0;
        padding-bottom: 3rem;
    }
}