main {
    display: flex;
    box-shadow: 0.1rem 0.3rem 0.5rem rgb(214, 207, 207);
    border-radius: 2rem;
}

.results {
    display: grid;
    gap: 2rem;
    padding: 3rem 5rem;
    text-align: center;
    border-radius: 2rem;
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

.results .titulo{
    color: hsl(241, 100%, 89%);
}

.results .points {
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 100%;
    max-width: 6rem;
    max-height: 6rem;
    padding: 3rem;
    text-align: center;
    margin: 0 auto;
    padding-top:2rem;
    padding-bottom: 4rem;
}

.points .media-one{
    font-size: 5rem;
    font-weight: 700;
    color: white;
}

.points .media-two{
    font-size: 1rem;
    font-weight: 500;
    color: hsl(241, 100%, 89%)
}

.results .great {
    font-size: 2rem;
    font-weight: 700;
    color: white;
}

.results .text {
    max-width: 14rem;
    color: hsl(241, 100%, 89%);
    line-height: 1.3rem;
}

.summary {
    display: grid;
    padding: 2.2rem;
    gap: 2rem;
}

.summary .description-points {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    font-weight: 700;
}

.description-points .description-reac{
    background-color: hsla(0, 100%, 67%, 0.1);
    color: hsl(0, 100%, 67%);
}

.description-points .description-mem{
    background-color: hsla(39, 100%, 56%, 0.1);
    color: hsl(39, 100%, 56%);
}

.description-mem .mem{
    padding-right: 0.5rem;
}

.description-points .description-verb{
    background-color: hsla(166, 100%, 37%, 0.1);
    color: hsl(166, 100%, 37%) ;
}

.description-verb .verb{
    padding-right: 1.4rem;
}

.description-points .description-vis{
    background-color: hsla(234, 85%, 45%, 0.1);
    color: hsl(234, 85%, 45%);
}

.description-vis .vis{
    padding-right: 1.4rem;
}

.part-one{
    padding-left: 5rem;
    font-weight: 700;
    color: black;
}

.porcent{
    color: hsl(240, 18%, 66%);
    font-weight: 800;
}

.summary .button{
    background-color: hsl(224, 30%, 27%);
    max-width: 20rem;
    border-radius: 5rem;
    padding-top: 1rem;
    text-align: center;
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
}

.summary .button:hover{
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

footer {
    font-size: 1.1em;
    text-align: center;
    font-weight: 700;
    padding-top: 3rem;
}

footer a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
    padding: 1rem 0;
}

@media (max-width: 800px){
    .results{
        padding: 2rem 3rem;
    }
    
    .summary .button{
        padding-bottom: 1rem;
    }
}

@media (max-width: 700px){
    main{
        display: grid;
        grid-template-columns: 1fr;
        box-shadow: 0 0 0;
    }

    .results{
        border-radius: 0 0 2.5rem 2.5rem;
        gap: 1.2rem;
        padding: 3rem 5rem;
    }

    .results .points{
        max-width: 5rem;
        max-height: 5rem;
    }

    .results .text{
        max-width: 30ch;
        font-size: 0.9rem;
    }

    .summary{
        border-radius: 0;
    }

    .summary .part-one{
        padding-left: 6.5rem;
    }

    .summary .button{
        padding: 1rem;
    }

    footer{
        padding-top: 2rem;
        padding-bottom: 3rem;
    }
}