*{
    margin: 0px;
    padding: 0px;
}

body{
    display: grid;
    place-content: center center;
    min-height: 100vh;
    background-color: hsl(212, 45%, 89%);
}

.qrcode{
    max-width: 85%;
    border-radius: 1rem;
    margin-left: 2.1rem;
}

.container-grid{
    display: grid;
    grid-template-columns: 25rem;
    background-color: white;
    padding: 2rem 0rem;
    border-radius: 1rem;
}

main{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo{
    margin-top: 2rem;
    font-size: 1.7rem;
    padding: 0rem 2rem;
}

.texto{
    margin-top: 2rem;
    font-size: 1.2rem;
    color: hsl(220, 15%, 55%);
    padding: 0rem 2rem;
    margin-bottom: 1rem;
}

.attribution{
    font-size: 1rem;
    text-align: center;
    margin: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.attribution a{
    color: hsl(228, 45%, 44%);
    text-decoration: none;
    font-weight: bold;
}