@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    display: grid;
    place-content: center center;
    min-height: 100vh;
    background-color: hsl(212, 45%, 89%);
}

.qrcode {
    max-width: 100%;
    border-radius: 1rem;
}

main{
    display: grid;
    grid-template-columns: 25rem;
    background-color: white;
    padding: 2rem 2rem;
    border-radius: 1rem;
}

.content{
    text-align: center;
    font-family: Outfit;
}

.titulo{
    margin-top: 2rem;
    font-size: 1.9rem;
}

.texto{
    margin-top: 2rem;
    font-size: 1.2rem;
    color: hsl(219, 15%, 55%);
    padding: 0rem 2rem;
    margin-bottom: 1rem;
}

footer{
    font-size: 1rem;
    text-align: center;
    margin: 1rem;
    font-family: Outfit;
}

footer a{
    color: hsl(228, 45%, 44%);
    text-decoration: none;
    font-weight: bold;
}

@media(max-width: 400px){
    main{
        grid-template-columns: 18rem;
        padding: 1.4rem 0rem;
    }
    
    .qrcode{
        max-width: 85%;
        margin-left: 1.4rem;
    }

    .titulo{
        font-size: 1.2rem;
        margin-top: 1rem;
        padding: 0 2rem;
    }
    
    .texto{
        font-size: 0.8rem;
        margin-top: 1.2rem;
        margin-bottom: 0rem;
    }

    footer{
        font-size: 0.8rem;
    }
}