*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Fira Sans', Arial, sans-serif;
}

main{
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 2rem;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
    display: block;
}

a{
    text-decoration: none;
    color: black;
}

.subtitulo{
    max-width: 5ch;
    word-break: break-all;
    font-size: 6rem;    
    text-transform: uppercase;
}
