* {
    padding: 0;
    margin: 0;
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

.container-grid {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: 
    "header header header"
    "sidenav main advert"
    "footer footer footer"
    ;
}

header {
    padding: 40px;
    background: rgb(159, 60, 224);
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

header > img {
    width: 210px;
}

header nav > ul {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: right;
    gap: 20px;
    font-size: 20px;
    color: white;
}

header nav ul li {
    padding: 10px;
    background: rgb(140, 56, 219);
    border-radius: 5px;
    cursor: pointer;
}

header nav ul li:hover {
    background: rgb(77, 18, 133);
}

.sidenav {
    padding-top: 20px;
    background: rgb(248, 245, 245);
    display: grid;
    grid-area: sidenav;
    justify-items: center;
}

.sidenav img {
    padding: 20px;
    margin: 30px 0;
    width: 110px;
    background: white;
    border-radius: 10px;
    cursor: pointer;
}

.sidenav img:hover {
    background: rgb(160, 88, 228);
}

main {
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 40px;
    grid-template-areas:
        "titulo kg-age"
        "paragrafo1 paragrafo1"
        "wolf1 paragrafo2" 
        "wolf1 wolf2"
        "paragrafo3 paragrafo4"
        "paragrafo5 paragrafo5"
        "dados-animal paragrafo6"
        "dados-animal paragrafo7"
        "wolf3 wolf3"
    ;
    justify-items: stretch;
}

main .titulo h1 {
    grid-area: titulo;
    font-size: 70px;
    color: blueviolet;
}

.titulo > span {
    color: blueviolet;
}

main .infos-animal {
    display: grid;
    grid-area: kg-age;
    grid-template-columns: 80px 80px;
    gap: 50px;
    align-self: center;
    justify-items: left;
}

.infos-animal .infos-pessoal {
    display: grid;
    background: rgb(157, 90, 219);
    border-radius: 10px;
    box-shadow: 0px 1px 10px 2px rgb(212, 204, 204);
}

.infos-pessoal .number {
    padding: 15px 20px;
    font-size: 35px;
    font-weight: bold;
    color: rgb(196, 188, 188);
    opacity: 0.5;
}

.infos-pessoal .number-complement {
    padding: 5px;
    background: white;
    text-align: center;
    color: rgb(157, 91, 219);
    border-radius: 0 0 10px 10px;
}

main p {
    font-size: 21px;
}

main .paragrafo1 {
    margin: 50px 0;
    line-height: 30px;
    grid-area: paragrafo1;
}

main .wolf1 {
    grid-area: wolf1;
    border-radius: 10px;
}

main .paragrafo2 {
    padding-bottom: 30px;
    max-width: 30ch;
    grid-area: paragrafo2;
    line-height: 22px;
    font-size: 15px;
    color: blueviolet;
}

main .wolf2 {
    grid-area: wolf2;
    border-radius: 10px;
}

main .paragrafo3, .paragrafo4 {
    margin-top: 30px;
    font-size: 22px;
    line-height: 28px;
}

main .paragrafo3 {
    grid-area: paragrafo3;
}

main .paragrafo4 {
    grid-area: paragrafo4;
}

main .paragrafo5 {
    padding: 50px;
    margin: 30px 0;
    grid-area: paragrafo5;
    border-radius: 10px;
    background: blueviolet;
    text-align: center;
    font-size: 25px;
    color: white;
}

main .dados-animal {
    padding: 40px;
    margin: 5px;
    margin-right: 40px;
    background: blueviolet;
    display: grid;
    grid-area: dados-animal;
    gap: 30px;
    border-radius: 10px;
    font-size: 23px;
    color: white;
}

.dados-animal li::after {
    content: "";
    height: 1px;
    width: 100%;
    background: rgb(163, 162, 162);
    display: block;
    position: relative;
    top: 15px;
}

main .paragrafo6, .paragrafo7 {
    font-size: 20px;
    line-height: 28px;
}

main .paragrafo6 {
    grid-area: paragrafo6;
}

main .paragrafo7 {
    grid-area: paragrafo7;
}

main .wolf3 {
    margin: 30px 0;
    width: 100%;
    grid-area: wolf3;
    border-radius: 10px;
}

.advert {
    padding-top: 50px;
    background: rgb(248, 245, 245);
    display: grid;
    grid-area: advert;
    grid-template-rows: 250px;
    justify-items: center;    
}

.advert img {
    width: 250px;
    border-radius: 10px;
    cursor: pointer;
}

footer {
    padding: 40px;
    grid-area: footer;
    background: blueviolet;
    text-align: center;
    font-size: 20px;
    color: white;
}