* {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    display: block;
}

body {
    min-height: 100vh;
    display: grid;
    place-content: center center;
    background: hsl(210, 46%, 95%);
}

main {
    max-width: 1440px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "apresentacao1 apresentacao1 apresentacao2 apresentacao3"
    "apresentacao4 apresentacao5 apresentacao5 apresentacao3"
    ;
    gap: 30px;
}

@media (max-width: 1000px) {
    main {
        margin: 40px 30px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "apresentacao1 apresentacao2"
        "apresentacao5 apresentacao4"
        "apresentacao3 apresentacao3"
        ;
    }
}

@media (max-width: 800px) {
    main {
        margin: 40px 30px;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "apresentacao1"
        "apresentacao2"
        "apresentacao4"
        "apresentacao5"
        "apresentacao3"
        ;
    }
}

.user-container {
    padding: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.user-container p {
    color: white;
    opacity: 0.5;
    font-size: 17px;
}

.user-container .titulo {
    margin-bottom: 20px;
    font-size: 24px;
    color: white;
    opacity: 1;
    font-weight: bold;
}

.user {
    display: flex;
    gap: 20px;
    align-items: center;
    color: white;
}

.user > img {
    border-radius: 50%;
}

.user > div {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.user .name {
    font-weight: bold;
    opacity: 1;
}

.user span {
    opacity: 0.7;
}

.user .name-black {
    color: black;
    font-weight: bold;
    opacity: 0.5;
}

.user-daniel {
    grid-area: apresentacao1;
    background: hsl(263, 55%, 52%);
}

.user-jonathan {
    grid-area: apresentacao2;
    background: hsl(217, 19%, 35%);
}

.user-kira {
    grid-area: apresentacao3;
    background: white;
}

.user-kira p, .user-kira span, .user-jeanette p, .user-jeanette span {
    color: black;
    opacity: 0.5;
}

.user-kira .titulo, .user-jeanette .titulo {
    color: black;
    opacity: 0.7;
}

.user-jeanette {
    grid-area: apresentacao4;
    background: white;
}

.user-patrick {
    grid-area: apresentacao5;
    background: hsl(219, 29%, 14%);
}