@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    min-height: 100vh;
    background-color: hsl(30, 38%, 92%);
    font-family: Montserrat;
    display: grid;
    place-content: center;
}

main {
    max-width: 700px;
    border-radius: 1rem;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

img {
    max-width: 100%;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    display: block;
}

button {
    padding: 1.2rem 1rem;
    border-radius: 0.7rem;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    border: none;
    background-color: hsl(158, 36%, 37%);
}

footer p{
    margin-top: 2rem;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
}

footer a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
    padding: 1rem 0;
}