*{
    margin: 0;
    padding: 0;
}

body{
    max-width: 1440px;
    margin: 0 auto;
    min-height: 100vh;
    background-color: hsl(30, 38%, 92%);
    display: grid;
    place-content: center center;
}

main{
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

img{
    max-width: 100%;
    display: block;
}