@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&family=Young+Serif&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    max-width: 1440px;
    margin: 0 auto;
    font-family: Outfit;
    line-height: 2rem;
    background-color: hsl(30, 54%, 90%);
    color: hsl(14, 45%, 36%);
    display: grid;
    place-content: center;
}

h1, h2{
    font-family: 'Young Serif';
}

img{
    max-width: 100%;
    border-radius: 1rem;
    display: block;
}

main .subtitulo{
    font-size: 1.8rem;
}

ul, ol{
    padding-left: 1.5rem;
    margin-top: 1rem;
    color: hsl(30, 10%, 34%);
}

a{
    text-decoration: none;
    padding: 1rem 0;
}

.linha{
    width: 45rem;
    height: 0.05rem;
    margin-top: 2rem;
    background-color: rgb(218, 209, 209);
    display: block;
}

.destaque{
    font-weight: 700;
}

@media(max-width: 400px){
    img{
        border-radius: 0;
    }

    .posicionamento-mobile{
        margin: 0 2.3rem
    }

    .linha{
        width: 18.5rem;
    }
}