* {
    padding: 0;
    margin: 0;
}

main, header {
    max-width: 1200px;
    margin: 0 auto;
}

img {
    height: 150px;
    width: 475px;
    max-width: 100%;
    display: block;
    object-fit: fill;
    border-radius: 0.5rem;
    border: 0.3rem solid rgb(212, 162, 22);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
main .produto {
    display: flex;
    gap: 1.5rem;
}

.produto .titulo {
    display: flex;
    justify-content: space-between;
}

.produto .infos {
    display: flex;
    flex-direction: column;
}

.infos span {
    font-size: 1.3rem;
    color: rgb(138, 104, 13);
}

.infos p {
    font-size: 1.1rem;
    color: rgb(134, 126, 126);
}
