* {
    padding: 0;
    margin: 0;
}

main, header {
    max-width: 1200px;
    margin: 0 auto;
}

img {
    height: 150px;
    width: 450px;
    max-width: 100%;
    display: block;
    object-fit: cover;
    border-radius: 0.5rem;
    border: 0.3rem solid rgb(212, 162, 22);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

main .produto {
    display: flex;
    gap: 1.5rem;
    position: relative;
}

.produto::after {
    content: "";
    height: 2px;
    width: 340px;
    background-color: black;
    text-decoration: underline;
    position: absolute;
    top: 36px;
    left: 250px;
    display: block;
}

.produto .titulo {
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.produto .infos {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}

.infos span {
    font-size: 1.2rem;
    font-weight: bolder;
    color: rgb(194, 152, 35);
}

.infos p {
    font-size: 1.1rem;
    color: rgb(134, 126, 126);
}

main .none {
    display: none;
}
