@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

* {
    padding: 0;
    margin: 0;
    font-family: "Roboto";
}

main, header {
    max-width: 1200px;
    margin: 0 auto;
}

img {
    height: 150px;
    width: 100%;
    min-width: 255px;
    display: block;
    object-fit: cover;
    border-radius: 0.5rem;
    border: 0.3rem solid rgb(212, 162, 22);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

main .produto {
    display: flex;
    gap: 1.5rem;
}

.produto .titulo {
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.produto .titulo::after {
    content: "";
    height: 1px;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 36px;
    display: block;
}

.produto .infos {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}

.infos span {
    font-size: 1.2rem;
    font-weight: bolder;
    color: rgb(194, 152, 35);
}

.infos p {
    font-size: 1.1rem;
    color: rgb(134, 126, 126);
}

main .none {
    display: none;
}
