@import '/css/global.css';

header {
    margin-bottom: 4rem;
    margin-top: 4rem;
    text-align: center;
}

header ul {
    display: flex;
    gap: 2rem;
    justify-content: center;
}
main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}