@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    display: grid;
    grid-template-rows: 170px;
    justify-items: center;
    background-color: hsl(275, 100%, 97%);
    font-family: "Work Sans";
}

img {
    max-width: 100%;
    display: block;
}

.display-none {
    display: none;
}

.after::after {
    content: "";
    width: 27px;
    height: 28px;
    position: absolute;
    right: -1rem;
    top: -0.2rem;
    background-image: url(/Javascript/faq-accordion-main/assets/images/icon-minus.svg);
}

@media (max-width: 600px) {
    body {
        grid-template-rows: 150px;
    }
    
}