* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-rows: 170px;
    justify-items: center;
    background-color: hsl(275, 100%, 97%);
}

img {
    max-width: 100%;
    display: block;
}

.display-none {
    display: none;
}