main .contato{
    background-color: black;
    height: 26.5rem;
}

.contato .conclusao{
    padding: 4rem 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;
}

.conclusao > p{
    max-width: 40ch;
    font-size: 1.2rem;
    color: rgb(126, 111, 111);
}

.conclusao .informacoes p{
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    line-height: 4rem;
}

.informacoes a{
    color: white;
}

footer{
    padding: 3rem;
    color: rgb(126, 111, 111);
}

@media (max-width: 800px){
    main .contato{
        height: 30rem;
    }
    
    .contato .conclusao{
        grid-template-columns: 1fr;
    }

    .conclusao p{
        font-size: 1.1rem;
    }

    .conclusao .informacoes p{
        font-size: 1.5rem;
        line-height: 2rem;
    }

    footer{
        padding-right: 0;
    }
}