.formacao{
    margin-top: 7rem;
    background-color: rgb(32, 30, 30);
}

.formacao .container-formacao{
    padding: 2rem 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.container-formacao .subtitulo{
    max-width: 6ch;
}

.informacoes-formacao{
    padding: 1rem 3rem;
    display: grid;
    gap: 2rem;
}

.informacoes-formacao > p{
    max-width: 40ch;
    font-size: 1.4rem;
    color: rgb(105, 92, 92);
}

.informacoes-formacao > p span{
    color: white;
}

.informacoes-formacao .curso-superior{
    color: white;
    display: flex;
    gap: 1.5rem;
    position: relative;
}

.curso-superior .curso{
    padding: 1rem;
    background-color: black;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1rem;
}

.curso::before{
    content: "";
    width: 4px;
    height: 20px;
    background: linear-gradient(#b6f829, #67dd0a);
    display: block;
    position: absolute;
    top: 3rem;
}

.curso span{
    color: rgb(105, 92, 92);
    text-transform: uppercase;
    font-size: 0.9rem;
}

.curso h3{
    flex: 1;
}

.cursos-menores{
    margin-top: 2.5rem;
    color: white;
    display: grid;
    gap: 1.5rem;
}

.cursos-menores span{
    color: rgb(105, 92, 92);
}

.cursos-menores .cursos-tipo{
    text-transform: uppercase;
    font-size: 0.9rem;
}

.cursos-menores .cursos-intensivos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    line-height: 2rem;
}

.cursos-intensivos span{
    text-align: right;
    margin-right: 2rem;
}

.cursos-menores .cursos-idiomas{
    line-height: 2rem;
}