*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Fira Sans', Arial, sans-serif;
}

.container{
    max-width: 1200px;
    padding: 8rem 3rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 8rem;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
    display: block;
}