main .introducao{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 8rem;
    align-items: center;
}

.informacoes h1{
    margin-bottom: 1.5rem;
    font-size: 4.5rem;
    font-weight: bolder;
    position: relative;
}

.informacoes h1::before{
    content: "";
    display: block;
    width: 130px;
    height: 100px;
    background: url(/img/detalhe.svg) no-repeat center;
    position: absolute;
    top: -15px;
    z-index: -1;
}

.informacoes p{
    font-size: 1.2rem;
}

@media(max-width: 1000px){
    main .introducao{
        grid-template-columns: 1fr 1fr;
        gap: 4rem;
    }
    .informacoes h1{
        font-size: 3.5rem;
    }
}

@media(max-width: 800px){
    .informacoes h1{
        font-size: 2rem;
    }

    .informacoes h1::before{
        width: 20px;
        height: 10px;
    }

    .informacoes p{
        font-size: 0.8rem;
    }
}

@media(max-width: 400px){

    main .introducao{
        grid-template-columns: 1fr;
    }

    .introducao img{
        display: none;
    }

    .informacoes h1{
        font-size: 3rem;
    }
    
    .informacoes h1::before{
        display: none;
    }

    .informacoes p{
        font-size: 1.2rem;
    }
}