*{
    margin: 0;
    padding: 0;
}

body{
    max-width: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2rem;
    background-color: hsl(30, 54%, 90%);
    color: hsl(14, 45%, 36%);
    display: grid;
    place-content: center center;
}

img{
    max-width: 100%;
    border-radius: 1rem;
    display: block;
}

main .subtitulo{
    font-size: 1.8rem;
}

ul{
    padding-left: 1.5rem;
    margin-top: 1rem;
    color: hsl(30, 10%, 34%);
}