main{
    width: 45rem;
    margin: 7rem 3rem;
    padding: 2.5rem;
    border-radius: 1rem;
    background-color: white;
    display: grid;
    gap: 2rem;
}

main .introduction{
    gap: 3rem;
    line-height: 1.4rem;
    color: hsl(30, 10%, 34%);
    display: grid;
}

.introduction h1{
    color: black;
    font-size: 2.5rem;
    font-weight: 400;
}

.introduction p{
    font-size: 1.1rem;
}

main .tempo-de-preparo{
    padding: 2rem 2.2rem;
    background-color: hsl(330, 100%, 98%);
}

.tempo-de-preparo h3{
    color: hsl(332, 51%, 32%);
    font-size: 1.4rem;
}

.tempo-de-preparo ul{
    line-height: 2rem;
    font-size: 1.07rem;
}

.nutrition h2{
    margin-bottom: 1.5rem;
}

.nutrition .tabela-nutricional{
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.tabela-nutricional .nutriente{
    padding-left: 2.5rem;
}

.tabela-nutricional .linha{
    grid-column: 1 / -1;
    margin-top: initial;
}

footer p{
    margin-top: 1.5rem;
    font-size: 0.9rem;
    font-weight: bold;
    color: black;
}

@media(max-width: 400px){
    main{
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    main .introduction{
        gap: 2rem;
        margin: 0 2rem;
    }

    .introduction h1{
        font-size: 2.2rem;
        line-height: 2.5rem;
    }

    .introduction p{
        font-size: 1.040rem;
    }

    main .tempo-de-preparo{
        margin: 0 2rem;
        border-radius: 0.6rem;
    }

    main .instructions{
        font-size: 1.05rem;
    }

    .nutrition h2{
        margin-bottom: 1rem;
    }

    .nutrition p{
        font-size: 1.05rem;
    }
    
    .nutrition .tabela-nutricional{
        margin-bottom: 4rem;
    }
}
