main .avaliacao {
    padding: 0 2rem;
    color: white;
    gap: 3rem;
}

.avaliacao .texto {
    display: grid;
    gap: 1.5rem;
}

.texto > img {
    background-color: hsl(213, 21%, 23%);
    border-radius: 50%;
    padding: 0.7rem;
}

.texto h1 {
    font-size: 1.7rem;
}

.texto p {
    font-size: 1.2rem;
    color: hsl(217, 12%, 63%);
}

.avaliacao .notas {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
}

.avaliacao .notas > span {
    padding: 1.3rem;
    width: 1rem;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    background-color: hsl(213, 21%, 23%);
    color: hsl(217, 12%, 63%);
    font-weight: bolder;
    font-size: 1.1rem;
}

.notas span:hover {
    background-color: hsl(217, 12%, 63%);
    color: white;
}

.notas span.ativo {
    background-color: hsl(25, 97%, 53%);
    color: white;
}

main .avaliacao a {
    padding: 0.7rem;
    width: 100%;
    border-radius: 0.5rem;
    text-align: center;
    font-size: 0.9rem;
    font-weight: bolder;
    color: black;
    text-transform: uppercase;
    background-color: hsl(25, 97%, 53%);
    cursor: pointer;
    display: block;
    align-self: center;
}

.avaliacao a:hover {
    background-color: white;
    color: hsl(25, 97%, 53%);
}

@media (max-width: 700px) {
    .avaliacao .notas {
        gap: 0.5rem;
    }

    .avaliacao .notas > span {
        padding: 0.98rem;
    }
}